<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="Petstore Full Regression Suite" thread-count="4" parallel="tests">
    <test name="Store :: Inventory Tests">
        <classes>
            <class name="org.example.petstore.tests.StoreInventoryTests"/>
        </classes>
    </test>
    <test name="Store :: Store Orders Tests">
        <classes>
            <class name="org.example.petstore.tests.StoreOrderTests"/>
        </classes>
    </test>
    <test name="Store :: Orders Delete Tests">
        <classes>
            <class name="org.example.petstore.tests.StoreOrderDeletionTests"/>
        </classes>
    </test>
</suite>
